In [1]:
import pandas as pd

In [2]:
kg_data = pd.read_csv('/data/zhaojingtong/PrimeKG/data_all/kg_directed.csv')
kg_data

/tmp/ipykernel_3907494/1378173991.py:1: DtypeWarning: Columns (1,4) have mixed types. Specify dtype option on import or set low_memory=False.
  kg_data = pd.read_csv('/data/zhaojingtong/PrimeKG/data_all/kg_directed.csv')

,x_type,x_id,relation,y_type,y_id,x_name,y_name,x_idx,y_idx
0,gene/protein,9796.0,protein_protein,gene/protein,56992.0,PHYHIP,KIF15,27422.0,19536.0
1,gene/protein,7918.0,protein_protein,gene/protein,9240.0,GPANK1,PNMA1,23886.0,26764.0
2,gene/protein,8233.0,protein_protein,gene/protein,23548.0,ZRSR2,TTC33,24822.0,10205.0
3,gene/protein,4899.0,protein_protein,gene/protein,11253.0,NRF1,MAN1B1,16773.0,5880.0
4,gene/protein,5297.0,protein_protein,gene/protein,8601.0,PI4KA,RGS20,17769.0,25909.0
...,...,...,...,...,...,...,...,...,...
4050244,disease,16982.0,disease_phenotype_positive,effect/phenotype,30448.0,angiosarcoma (disease),Soft tissue sarcoma,4676.0,6378.0
4050245,disease,19314_19023_2726,disease_phenotype_positive,effect/phenotype,8069.0,cutaneous mastocytosis,Neoplasm of the skin,6562.0,13832.0
4050246,disease,19314_19023_2726,disease_phenotype_positive,effect/phenotype,100495.0,cutaneous mastocytosis,Mastocytosis,6562.0,523.0
4050247,disease,4747.0,disease_phenotype_positive,effect/phenotype,202.0,cleft lip (disease),Oral cleft,12414.0,4558.0
4050248,disease,5297.0,disease_phenotype_positive,effect/phenotype,795.0,urethritis (disease),Abnormality of the urethra,12891.0,13759.0

In [3]:
df_x_data = kg_data[['x_type','x_name','x_idx']].rename(columns = {'x_type':'type','x_name':'name','x_idx':'idx'})
df_x_data

                 type                    name      idx
0        gene/protein                  PHYHIP  27422.0
1        gene/protein                  GPANK1  23886.0
2        gene/protein                   ZRSR2  24822.0
3        gene/protein                    NRF1  16773.0
4        gene/protein                   PI4KA  17769.0
...               ...                     ...      ...
4050244       disease  angiosarcoma (disease)   4676.0
4050245       disease  cutaneous mastocytosis   6562.0
4050246       disease  cutaneous mastocytosis   6562.0
4050247       disease     cleft lip (disease)  12414.0
4050248       disease    urethritis (disease)  12891.0

[4050249 rows x 3 columns]

In [4]:
df_y_data = kg_data[['y_type','y_name','y_idx']].rename(columns={'y_type':'type','y_name':'name','y_idx':'idx'})
df_y_data

                     type                        name      idx
0            gene/protein                       KIF15  19536.0
1            gene/protein                       PNMA1  26764.0
2            gene/protein                       TTC33  10205.0
3            gene/protein                      MAN1B1   5880.0
4            gene/protein                       RGS20  25909.0
...                   ...                         ...      ...
4050244  effect/phenotype         Soft tissue sarcoma   6378.0
4050245  effect/phenotype        Neoplasm of the skin  13832.0
4050246  effect/phenotype                Mastocytosis    523.0
4050247  effect/phenotype                  Oral cleft   4558.0
4050248  effect/phenotype  Abnormality of the urethra  13759.0

[4050249 rows x 3 columns]

In [5]:
all_data = pd.concat([df_x_data,df_y_data])
all_data

                     type                        name      idx
0            gene/protein                      PHYHIP  27422.0
1            gene/protein                      GPANK1  23886.0
2            gene/protein                       ZRSR2  24822.0
3            gene/protein                        NRF1  16773.0
4            gene/protein                       PI4KA  17769.0
...                   ...                         ...      ...
4050244  effect/phenotype         Soft tissue sarcoma   6378.0
4050245  effect/phenotype        Neoplasm of the skin  13832.0
4050246  effect/phenotype                Mastocytosis    523.0
4050247  effect/phenotype                  Oral cleft   4558.0
4050248  effect/phenotype  Abnormality of the urethra  13759.0

[8100498 rows x 3 columns]

In [6]:
all_data_uni = all_data.drop_duplicates().reset_index(drop=True)
all_data_uni['idx'] = all_data_uni['idx'].astype(int)
all_data_uni

                type                                               name    idx
0       gene/protein                                             PHYHIP  27422
1       gene/protein                                             GPANK1  23886
2       gene/protein                                              ZRSR2  24822
3       gene/protein                                               NRF1  16773
4       gene/protein                                              PI4KA  17769
...              ...                                                ...    ...
129370       pathway                    Ion transport by P-type ATPases   2210
129371       pathway  Inhibition  of voltage gated Ca2+ channels via...   2515
129372       anatomy                                  anatomical entity    473
129373       anatomy                            multi-cellular organism  10694
129374       anatomy                                       female gonad  13978

[129375 rows x 3 columns]

In [7]:
drug = all_data_uni[all_data_uni['type'] == 'drug'].reset_index(drop=True)
drug

      type             name   idx
0     drug           Copper  5810
1     drug           Oxygen  5819
2     drug      Flunisolide   168
3     drug    Alclometasone   228
4     drug        Medrysone   241
...    ...              ...   ...
7952  drug  Gadoversetamide   522
7953  drug       Gadobutrol  4031
7954  drug    Butanilicaine  7121
7955  drug  Metabutethamine  7281
7956  drug     Quinisocaine  7357

[7957 rows x 3 columns]

In [8]:
drug[drug['idx'] == 7957]

Empty DataFrame
Columns: [type, name, idx]
Index: []

In [9]:
disease = all_data_uni[all_data_uni['type'] == 'disease'].reset_index(drop=True)
disease

          type                                               name    idx
0      disease                            osteogenesis imperfecta   2502
1      disease          autosomal recessive nonsyndromic deafness   1038
2      disease  congenital stationary night blindness autosoma...  15420
3      disease           autosomal dominant nonsyndromic deafness   2962
4      disease                      deafness, autosomal recessive  10457
...        ...                                                ...    ...
17075  disease              small intestinal bacterial overgrowth  11200
17076  disease                            calcium-alkali syndrome  11201
17077  disease                                 skeletal fluorosis  11202
17078  disease                                        phrynoderma  11203
17079  disease                                 refeeding syndrome  11204

[17080 rows x 3 columns]

In [10]:
from transformers import BertModel, BertTokenizer
import pickle
import torch
from tqdm import tqdm

# 检查CUDA是否可用，选择设备
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

# 加载BioBERT模型和Tokenizer
model_path = '/data/zhaojingtong/Biobert_embedding/biobert'
tokenizer = BertTokenizer.from_pretrained(model_path, do_lower_case=False)
model = BertModel.from_pretrained(model_path)

# 将模型移到GPU（如果可用）
model = model.to(device)

embeddings_dict = {}

# 为每个drug的名称生成embedding
for _, row in tqdm(drug.iterrows(), total=drug.shape[0], desc="Processing drugs"):
    name = row['name']
    idx = row['idx']
    
    # 编码药物名称
    encoded_input = tokenizer(name, return_tensors='pt')

    # 将编码后的输入移到GPU（如果可用）
    encoded_input = {key: value.to(device) for key, value in encoded_input.items()}

    # 获取模型的输出
    with torch.no_grad():  # 不需要计算梯度
        output = model(**encoded_input)

    # 提取[CLS] token的embedding (即output['last_hidden_state'][0][0])
    embedding = output['last_hidden_state'][0][0].cpu().numpy()  # 转回CPU并转换为numpy数组

    # 将生成的embedding保存到字典中，key为id，value为embedding
    embeddings_dict[idx] = embedding

    # print(embedding)

    
# 将字典保存为pickle文件
pickle_path = '/data/zhaojingtong/PrimeKG/data_all/drug_embeddings.pkl'
with open(pickle_path, 'wb') as f:
    pickle.dump(embeddings_dict, f)

print(f"Embeddings saved to {pickle_path}")

/root/miniconda3/envs/torch21/lib/python3.8/site-packages/torch/_utils.py:831: UserWarning: TypedStorage is deprecated. It will be removed in the future and UntypedStorage will be the only storage class. This should only matter to you if you are using storages directly.  To access UntypedStorage directly, use tensor.untyped_storage() instead of tensor.storage()
  return self.fget.__get__(instance, owner)()
Processing drugs: 100%|██████████| 7957/7957 [01:47<00:00, 73.83it/s]

Embeddings saved to /data/zhaojingtong/PrimeKG/data_all/drug_embeddings.pkl

In [11]:
from transformers import BertModel, BertTokenizer
import pickle
import torch
from tqdm import tqdm

# 检查CUDA是否可用，选择设备
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

# 加载BioBERT模型和Tokenizer
model_path = '/data/zhaojingtong/Biobert_embedding/biobert'
tokenizer = BertTokenizer.from_pretrained(model_path, do_lower_case=False)
model = BertModel.from_pretrained(model_path)

# 将模型移到GPU（如果可用）
model = model.to(device)

embeddings_dict = {}

# 为每个drug的名称生成embedding
for _, row in tqdm(disease.iterrows(), total=disease.shape[0], desc="Processing disease"):
    name = row['name']
    idx = row['idx']
    
    # 编码药物名称
    encoded_input = tokenizer(name, return_tensors='pt')

    # 将编码后的输入移到GPU（如果可用）
    encoded_input = {key: value.to(device) for key, value in encoded_input.items()}

    # 获取模型的输出
    with torch.no_grad():  # 不需要计算梯度
        output = model(**encoded_input)

    # 提取[CLS] token的embedding (即output['last_hidden_state'][0][0])
    embedding = output['last_hidden_state'][0][0].cpu().numpy()  # 转回CPU并转换为numpy数组

    # 将生成的embedding保存到字典中，key为id，value为embedding
    embeddings_dict[idx] = embedding

    # print(embedding)

    
# 将字典保存为pickle文件
pickle_path = '/data/zhaojingtong/PrimeKG/data_all/disease_embeddings.pkl'
with open(pickle_path, 'wb') as f:
    pickle.dump(embeddings_dict, f)

print(f"Embeddings saved to {pickle_path}")

Processing disease: 100%|██████████| 17080/17080 [03:49<00:00, 74.30it/s]

Embeddings saved to /data/zhaojingtong/PrimeKG/data_all/disease_embeddings.pkl